

.table-movies {

    tbody {
        td {
            vertical-align: middle;
        }
    }
    
}

.name-header-cell {
    .name {
        display: flex;
        align-items: center;
    } 

    .sort-container {
        display: flex;
        flex-direction: column;
    
        i {
            cursor: pointer;

            :hover {
                color: royalblue
            }
        }
    }
}

.image-cell {
    img {
        width: 75px;
        aspect-ratio: 2/3;
        object-fit: cover;
    }
}

.name-cell {
    font-size: 18px;
    font-weight: 500;
    vertical-align: middle;
}

.score-cell {
    text-align: center;
}

.actions-cell {

    align-content: center;

    .actions {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: .5rem;

        .btn {
            padding: .25rem .375rem;
        }
    }
}